<template name="signIn">
  <h3> Sign in </h3>

  <form name="signInForm">
    <label> Email </label>
    <input type="text" name="email" placeholder="email" aria-label="email"/>

    <label> Password </label>
    <input type="password" name="password" placeholder="password" aria-label="password"/>

    <a href="/reset-password">Forgot password?</a>

    <br>
    <br>

    <div>
      <button class="btn signInButton" aria-label="sign in">Sign In</button>
    </div>
  </form>
  {{ #if signInFeedback }}
    <div>
      <p> {{ signInFeedback }} </p>
    </div>
  {{ /if }}
</template>