<template name="signIn">
  <div class="panel">
    <div class="panel-heading">
      <h3> Sign in </h3>
    </div>
    <div class="panel-body">

      <form name="signInForm">

        <div class="form-group">
          <label> Email </label>
          <input type="text" name="email" placeholder="email" aria-label="email" class="form-control"/>
        </div>

        <div class="form-group">
          <label> Password </label>
          <input type="password" name="password" placeholder="password" aria-label="password" class="form-control"/>
        </div>

        <a href="/reset-password">Forgot password?</a>

        <br>
        <br>

        <div>
          <button class="add-btn signInButton" aria-label="sign in">Sign In</button>
        </div>
      </form>
      {{ #if signInFeedback }}
        <div>
          <p> {{ signInFeedback }} </p>
        </div>
      {{ /if }}

    </div>
  </div>
</template>