<template name="postView">
  {{ #if isReady }}

    <div class="post">
      <h3 class="header-detail-view post-title">{{ post.title }}</h3>
      <p class="description-details post-subtitle">{{ post.subtitle }}</p>
      <div class="article-description">
        <div id="postContent"></div>
      </div>

      {{ #if post.youtubeLink }}
      <div class="post-youtube-wrapper">
        <div id="postVideo" class="youtube-video-player">
          <iframe width="560" height="315" src="{{ post.youtubeLink }}" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      {{ /if }}

      {{ > postImages postId=postId }}
    </div>
  {{ else }}
    {{ > spinner }}
  {{ /if }}

</template>
