<template name="postView">
  {{ #if isReady }}
    <h3 class="post-title">{{ post.title }}</h3>
    <p class="post-subtitle">{{ post.subtitle }}</p>
    <div class="article-description">
      <div id="postContent"></div>
    </div>

    {{ #if post.youtubeLink }}
      <div id="postVideo" class="image-detail-view">
        <iframe width="560" height="315" src="{{ post.youtubeLink }}" frameborder="0" allowfullscreen></iframe>
      </div>
    {{ /if }}

<!--     <div class="image-of-post-in-row">
      <img src="{{ mainImageUrl }}">
    </div>
 -->
<!--     <div class="images-in-post-view">
      {{ > postImages postId=_id }}
    </div> -->
  {{ else }}
    {{ > spinner }}
  {{ /if }}

</template>
