<template name="imagesUploader">

  {{> upload_bootstrap }}

  <div class="cropping-image-wrapper">
    <img id="imageToCrop">
  </div>

<!--   {{> dropzone
    contentType='images'
    fileTypes='.jpg'
    multiple=true
    callbacks=portraitCallbacks }} -->

<!--   <div id="portrait" class="portrait-dropzone drop-box">
  </div>

  <div id="landscape" class="landscape-dropzone drop-box">
  </div>

  <div id="square" class="square-dropzone drop-box">
  </div>
 -->
<!--   {{ #if isCroppingPortrait }}
    <div class="portrait-preview-wrapper">
      <img src="{{ imageUrl }}">
    </div>
  {{ else if isCroppingLandscape }}
    <div class="landscape-preview-wrapper">
      <img src="{{ imageUrl }}">
    </div>
  {{ else if isCroppingSquare }}
    <div class="square-preview-wrapper">
      <img src="{{ imageUrl }}">
    </div>
  {{ /if }} -->

</template>