<template name="imagesUploader">
  <div id="imagesUploader">
    {{> upload_bootstrap }}

    <div class="grid">
      <div class="row">
        <div class="col-md-8">
            <div class="cropping-image-wrapper">
              <img id="imageToCrop">
            </div>
        </div>

        <div class="col-md-4">
          <div class="previewContainer">
            <div class="preview"></div>
          </div>

          {{ #if isCropping }}
          <div class="btn btn-default" id="addImage">Legg til bilde</div>
          <a class="btn" id="discardImage">Slett dette bilde</a>
          {{ /if }}
        </div>
      </div>
    </div>

    {{ #unless isCropping }}
      <!-- Dropzones -->
    <div class="dropzone-wrapper">
      <div class="col-xs-4 col-md-4">
        <div id="portrait" class="portrait-dropzone drop-box"></div>
      </div>

      <div class="col-xs-4 col-md-4">
        <div id="landscape" class="landscape-dropzone drop-box"></div>
      </div>

      <div class="col-xs-4 col-md-4">
        <div id="square" class="square-dropzone drop-box"></div>
      </div>
    </div>

    {{ /unless }}
  </div>
</template>