// .portrait-dropzone {
//   width: 450px;
//   height: 375px;
// }

// .landscape-dropzone {
//   margin-top: 50px; Legger denne til ellers så vil save knappen havne under den øvre containeren. Super quick-fix
//   width: 750px;
//   height: 300px;
// }

// .square-dropzone {
//   width: 375px;
//   height: 375px;
// }

.dropzone-wrapper {
  margin-bottom: 150px;
}

.portrait-dropzone {
  width: 112px;
  height: 94px;
}

.panel-body{
  margin: 0px;
}

.panel-footer{
  background-color: #fbfdfd;
  border-top: 0px;
  margin-top: -50px;
}

.landscape-dropzone {
  margin-top: 50px; /*Legger denne til ellers så vil save knappen havne under den øvre containeren. Super quick-fix*/
  width: 87px;
  height: 75px;
}

.square-dropzone {
  width: 94px;
  height: 94px;
}

.drop-box {
  margin-top: 30px;
  background: #F8F8F8;
  // border: 5px dashed #DDD;
  border: 5px dashed #aaa;

  text-align: center;
  margin-left: 10px;
  cursor: pointer;
}

.jqDropZone {
    background: none;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
.jqDropZone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
.jqDropZone.hover {
    background: lawngreen;
}
.jqDropZone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.preview {
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.previewContainer {
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.portraitPreview {
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.landscapePreview {
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.squarePreview {
  overflow: hidden;
  width: 100px;
  height: 100px;
}

#portrait {
  width: 170px;
  height: 125px;
}

#landscape {
  width: 100px;
  height: 125px;
}

#square {
  width: 100px;
  height: 100px;
}

