<template name="signUp">
  <div class="panel">
    <div class="panel-heading">
      <h3> Sign up </h3>
    </div>
    <div class="panel-body">

      <form name="signUpForm">

        <div class="form-group">
          <label> Email </label>
          <input type="text" name="email" placeholder="email" aria-label="email" class="form-control"/>
        </div>

        <div class="form-group">
          <label> Password </label>
          <input type="password" name="password" placeholder="password" aria-label="password" class="form-control"/>
        </div>

        <a href="/reset-password">Forgot password?</a>

        <br>
        <br>

        <div>
          <button class="btn btn-primary signUpButton" aria-label="sign in">Sign Up</button>
        </div>
      </form>
      {{ #if signUpFeedback }}
        <div>
          <p> {{ signUpFeedback }} </p>
        </div>
      {{ /if }}

    </div>
  </div>

</template>