<template name="posts">
  <header>
    <div class="menu">
      <div class="houseoffam-logo-mobile">
       <a href="/">HOUSE OF FAM</a>
      </div>
      <div class="houseoffam-menu">
        <div class="menu-nav nettbutikk">
          <a href="http://fam-irvoll.myshopify.com/collections/frontpage" class="menu-nav-hover"> NETTBUTIKK </a>
        </div>
        <div class="menu-nav kontakt">
          <a href="/kontakt" class="menu-nav-hover">
            KONTAKT
          </a>
        </div>
        <div class="menu-nav om">
          <a href="/om" class="menu-nav-hover">
            OM
          </a>
        </div>
      </div>
      <div class="houseoffam-line"> </div>
      <div class="houseoffam-logo">
        <a href="/">HOUSE OF FAM</a>
      </div>
    </div>
  </header>
  <h1>POSTS</h1>
</template>