<template name="postEditor">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{ #if isEditing }}
        <h2 class="pull-left">Edit post</h2>
        <button class="btn btn-primary pull-right savePost">Save post</button>
      {{ else }}
        <h2 class="pull-left">New post</h2>
        <button class="btn btn-primary pull-right savePost">Save new post</button>
      {{ /if }}
      <div class="clearfix"></div>
    </div>

    {{ #if isReady }}
      <div class="panel-body">

        <div class="form-group form-group-lg">
          <input
            class="form-control"
            type="text"
            name="title"
            placeholder="Enter post title"
            value="{{ model.title }}">
        </div>

        <div class="form-group form-group">
          <input
            class="form-control"
            type="text"
            name="subtitle"
            placeholder="Enter post subtitle"
            value="{{ model.subtitle }}">
        </div>

        <div class="form-group form-group">
          <textarea
            class="form-control"
            name="content"
            placeholder="Enter post body content">{{ model.content }}</textarea>
        </div>

      </div>
      <div class="panel-footer">
        <div>
          {{ > imagesUploader post=model }}
        </div>

        <div>
          {{ > postImages post=model }}
        </div>

      </div>
    {{ /if }}


  </div>
</template>