<template name="postEditor">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>New post</h2>
    </div>
    <div class="panel-body">

      <div class="form-group form-group-lg">
        <input
          class="form-control"
          type="text"
          name="title"
          placeholder="Enter post title">
      </div>

      <div class="form-group form-group">
        <input
          class="form-control"
          type="text"
          name="subtitle"
          placeholder="Enter post subtitle">
      </div>

      <div class="form-group form-group">
        <textarea
          class="form-control"
          name="content"
          placeholder="Enter post body content"></textarea>
      </div>

    </div>
    <div class="panel-heading">
      <button class="btn btn-primary pull-right saveNewPost">Save new post</button>
      <div class="clearfix"></div>
    </div>
  </div>
</template>