<template name="postEditor">
  <div class="form">
    <div>
      {{ #if isEditing }}
        <h2 class="pull-left">Edit post</h2>
        <button class="btn btn-primary pull-right savePost">Save post</button>
      {{ else }}
        <h2 class="pull-left">New post</h2>
        <button class="btn btn-primary pull-right savePost">Save new post</button>
      {{ /if }}
      <div class="clearfix"></div>
    </div>

    {{ #if isReady }}
        <div>
          <input
            class="post-header-pre"
            type="text"
            name="title"
            placeholder="Enter post title"
            value="{{ model.title }}">
        </div>

<!--         <div class="form-group form-group">
          <input
            class="form-control"
            type="text"
            name="subtitle"
            placeholder="Enter post subtitle"
            value="{{ model.subtitle }}">
        </div>

        <div class="form-group form-group">
          <textarea
            class="form-control"
            name="content"
            placeholder="Enter post body content">{{ model.content }}</textarea>
        </div> -->

        <div>
          {{ > imagesUploader post=model }}
        </div>

        <div>
          {{ > postImages postId=postId }}
        </div>

    {{ /if }}


  </div>
</template>