.mce-panel {
  background-color: #fff !important;
  border-width: 0px !important;
  border: 1px solid #F8F8F8 !important;
}

.mce-menubar {
  border: none !important;
}

.save-animation {
  color: green;
  text-align: center;
  margin-top: 10px;
  opacity: 0;
}