<template name="adminPosts">

  {{ > postEditor shouldRenewModelOnUserSave=true allowImageUpload=true isAddingImages=true }}

  {{ #if isReady }}

    {{ > blogMenu }}

    <div class="posts-wrapper">
        {{ #each posts }}
          <div class="post-frontpage">
            <button class="removePost"><strong>SLETT</strong></button>
            <button class="settings-button postSettings">Settings</button>

            {{ > postInRow model=this hasToEdit=true }}
          </div>
        {{ /each }}
    </div>
  {{ else }}
    {{ > spinner }}
  {{ /if }}

</template>