<template name="adminPosts">

  {{ > postEditor shouldRenewModelOnUserSave=true }}

  {{ #if isReady }}
    <ul class="list-group">
      {{ #each posts }}
        <li class="list-group-item">
          <a class="btn btn-default pull-right postSettings">Settings</a>
          <a class="editPost"><h3>{{ title }}</h3></a>
          <div class="image-of-post-in-row">
            <img src="{{ getMainImageUrlFor(this) }}">
          </div>
          <p>{{ subtitle }}</p>
        </li>
      {{ /each }}
    </ul>
  {{ else }}
    {{ > spinner }}
  {{ /if }}

</template>